.check-in_modal {
    width: 100%;

    &__header {
        height: 80px;
        box-sizing: border-box;
        padding: 16px;
        line-height: 80px;
        border-bottom: 1px solid #EEE;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon-close {
            margin-left: 8px;
        }
    }

    &__content {
        padding: 16px 32px;
    
        .check-in_heading {
            display: flex;
            flex-flow: row;
            align-items: center;
            margin-bottom: 16px;

            h3 {
                font-weight: 400;
                margin: 0 8px 0 0 ;
            }
        }

        
        
        
        .air-check-ins {
            margin-left: 16px;
        }   
    }
}