.docs {
    padding-top: spacing(4);

    &__menu {
        flex: 1;
        max-width: 240px;
        padding-right: spacing(4);
    }

    &__content {
        flex: 1;
    }

    &__heading {
        margin: 3.5rem 0 2rem 0;
    }

    p {
        margin: 1.25rem 0;
    }
}
