// This file covers styles for VerticalNav, HorizontalNav and NavMenu
.nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 100%;
    height: 64px;
    padding: spacing(1) spacing(2);

    &.--vertical {
        flex-flow: column nowrap;
        width: 64px;
        height: 100%;
        padding: spacing(2) spacing(1);

        & > .nav-item + .nav-item {
            margin-top: spacing(1);
        }
    }

    .nav-item {
        & + .nav-item {
            margin-left: spacing(1);
        }
    }
}

.nav-menu {

}