.notifications_modal {
	&__content {
		.content-inner {
			margin-left: 32px;
		}
	}

	&__actions {
		text-align: right;
		margin-bottom: 8px;

		> * {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.notification {
		&__sender {
			width: 100%;
			display: flex;
			align-items: center;

			.icon {
				margin-right: 8px;
			}

			.info {
				width: 100%;
				display: grid;

				.sender-info {
					display: flex;
					align-items: center;
					justify-content: space-between;

					> * {
						font-weight: 700;
						margin: 0;
					}
				}
			}

			.message {
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				font-weight: 500;
			}
		}

		&.--read {
			.info .sender-info * {
				font-weight: 500;
			}

			.message {
				font-weight: 400;
			}
		}
	}
}