.reporting {
    position: relative;

    &__group {
        display: flex;
        flex-flow: row wrap;
        margin: 16px 0;
    }

    &__variant {
        max-width: 320px
    }

    .report {
        &__header {
            display: flex;
            align-items: flex-end;
            flex-flow: row wrap;

            .header_info {
                margin-bottom: 20px;
            }

            .header_actions {
                display: flex;
                flex-flow: row wrap;
                align-items: initial;

                & > * + * {
                    margin-left: 16px;
                }
            }

            & > * + * {
                margin-left: 32px;
            }
        }
    }
}

.report_access {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start !important;

    & > div {
        flex-grow: 0;

        & + div {
            flex-grow: 1;
            padding: 8px 0 0 8px;
        }

        h6 {
            display: flex;
            align-items: center;
            font-weight: 500;

            & > span + span {
                margin-left: 8px
            }
        }
    }
}
