.schedule_container {
	.schedule_header {
		display: flex;
		align-items: center;

		li {
			margin-right: 8px;
		}
	}

	.schedule {
		width: 100%;
		padding: 16px 0 0 0;
		display: flex;
		flex-flow: row wrap;

		.schedule_row {
			width: 100%;
			display: flex;

			.event,
			.block {
				margin: 0 0 16px 8px !important;
				font-family: unset;
				
				&__inner {
					background: #EEE;
					color: rgba(0,0,0,0.87);
					font-family: unset;
				}

				&__content {
					font-size: 12px;
					padding: 16px 12px;
					min-height: 96px;
				}

				&__label {
					font-size: 10px;
					font-weight: 500;
					margin-bottom: 4px;
					text-transform: uppercase;
					letter-spacing: 0.025rem;
				}

				&__title {
					font-weight: 500;
					line-height: 14px;
					margin-bottom: 4px;
				}

				&__memo {
					line-height: 14px;
					font-weight: 400;
					margin: 0;
				}
			}

			.label {
				width: 100%;
				color: inherit;
				padding: 8px 16px;
				text-align: center;

				.day {
					text-transform: uppercase;
					margin: 0 0 4px 0;
					font-weight: 500;
				}

				.date {
					display: inline-block;
					margin: 0;
					width: 32px;
					height: 32px;
					line-height: 32px;
					padding: 8px;
					border-radius: 50%;
					background: none;
					font-weight: 400;
					font-weight: 400;
				}

				&.--today {
					color: $primary;

					.date {
						background: $primary;
						color: rgba(255,255,255,0.87);
					}
				}
			}

			.schedule_events {
				width: 100%;
				padding: 8px 0 0 0;
				border-right: 1px solid #EEE;
				border-bottom: 1px solid #EEE;
				display: flex;
				flex-flow: column-reverse;

				&:last-child {
					border-right: none;
				}
			}

			.schedule_blocks {
				width: 100%;
				padding: 8px 16px 16px 0;
				border-right: 1px solid #EEE;

				&:last-child {
					border-right: none;
				}

				.block__inner {		
					&.--missed {
						background: $failure;
						color: rgba(255,255,255,0.87)
					}
		
					&.--attended {
						background: $success;
						color: rgba(255,255,255,0.87);
					}
		
					&.--void {
						background: #CCC;
						color: rgba(75,75,75,0.87);
					}
		
					&.--appointed {
						background: $warning;
						color: rgba(255,255,255,0.87);
					}
		
					&.--now {
						border: 3px solid $primary-semi-light;
						border-radius: 4px;
					}
				}
			}
		}
	}
}

.schedule-block-dialog {
	&__title {
		height: 86px;
		width: unset;

		.dialog-title__inner {
			line-height: 16px;

			.label {
				text-transform: uppercase;
				letter-spacing: 0.025px;

				span {
					text-transform: unset;
					font-weight: 400;
					padding-left: 8px;
					margin-left: 8px;
					border-left: 2px solid #888;
				}
			}

			.date {
				font-weight: 400;
			}
		}
	}

	.section-header {
		color: rgba(0,0,0,0.87);
		text-transform: uppercase;
	}

	.section {
		padding-left: 16px;
	}

	.log {
		&__title {
			display: flex;
			flex-flow: row;
			line-height: 24px;

			.log__icon {
				width: 24px;
				height: 24px;
				padding: 2px 4px;
				border-radius: 50%;
				color: #000;
				margin-right: 8px;
				box-sizing: border-box;
				background: #EEE;

				& > * {
					font-size: 16px !important;
				}

				&.--check {
					background: $success;
					color: #FFF;
				}

				&.--cross {
					background: $failure;
					color: #FFF;
				}
			}

			h6 {
				font-size: unset;
				font-weight: 500;
				
				span {
					margin-left: 8px;
					padding-left: 8px;
					border-left: 1px solid #888;
					color: #888;
					font-weight: 400;
				}
			}
		}

		&__memo {
			margin-left: 32px;
		}
	}
}
