.sidebar {
	height: 100vh;
	width: 80px;
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr;
	overflow: hidden;
	flex-shrink: 1;
	transition: width 0.2s ease-in-out;

	&__nav {
		width: 64px;
		height: 100vh;
		padding: 16px 8px;
		box-sizing: border-box;
		background: $primary;
		color: $on-primary;
		position: relative;
		// box-shadow: $elevation2;

		.nav_account {
			padding: 8px;
		}
		.nav_button {
			color: inherit;

			.nav_avatar {
				width: 32px;
				height: 32px;
				font-size: 14px;
			}
		}

		.nav_bottom {
			position: absolute;
			bottom: 16px;
		}
	}

	&__menu {
		height: 100vh;
		min-width: 256px;
		max-width: 256px;
		background: #F5F5FF;
		padding: 0;
		box-sizing: border-box;
		display: inline-block;
		box-shadow: $elevation2;
		overflow-y: auto;

		.menu_header {
			height: 80px;
			line-height: 48px;
			margin: 0 32px;
			padding: 16px 0 16px 56px;
			box-sizing: border-box;
			border-bottom: 1px solid rgba(0,0,0,0.12);
			position: relative;

			&__logo {
				position: absolute;
				top: 16px;
				left: 0;
				width: 48px;
				height: 48px;
				background: $school-logo;
				background-repeat: no-repeat;
				background-size: cover;
				border-radius: 2px;
				overflow: hidden;
			}

			h4 {
				margin: 0;
				font-weight: 500;
				letter-spacing: normal;
				text-transform: uppercase;
				font-size: 14px;
			}
		}

		.menu_list {
			padding: 0 16px;

			&__link {
				color: inherit;

				.list_item {
					display: flex;
					align-items: center;
					padding: 8px 16px;
					margin: 4px 0;
					min-width: 128px;
					max-width: 224px;
					height: 32px;
					line-height: 32px;
					border-radius: 2px;
					font-weight: 500;
					cursor: pointer;
					user-select: none;
					transition: color 0.2s;

					&:hover {
						background: $primary-light
					}

					&__icon {
						color: rgba(0, 0, 0, 0.54);
					}
				}

				&.--selected .list_item {
					color: $primary;
					background: $primary-light;

					&__icon {
						color: $primary;
					}
				}
			}
		}
	}
}