.simple-table {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    &__row {
        display: flex;
        width: 100%;
        justify-content: space-between;

        & > div {
            padding: 8px;
        }

        .simple-table__header {
            border-bottom: 1px solid #EEE;
        }
    }
}
