.top-bar {
    padding: 0 spacing(4);

    &__inner {
        padding: spacing(2) 0 spacing(1);
    }

    .avatar + * {
        margin-left: spacing(2) !important;
    }

    &.--tabs {
        border-bottom: 2px solid #EEE;
        
        .top-bar__tabs {
            margin-bottom: -2px;
        }
    }
}
