.editorconfig
.vscode
api/src/.env
api/src/.phpunit.result.cache
api/src/public/storage
api/src/storage/*.key
api/src/vendor
frontend/src/.next
frontend/src/node_modules
frontend/src/npm-debug.log
frontend/src/yarn-error.log
