$primary: #6200EA;
$primary-light: rgba(98,0,234,0.12);

$on-primary: rgba(255, 255, 255, 0.87);

$school-logo: $primary-light; //url('../../images/ob_logo.jpg');

$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);