.date-block-picker {
    position: relative;
    padding-bottom: 16px;

    &__block-timing {
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 16px;
        color: #1976D2;

        &.--pending {
            color: #388E3C;
        }
    }

    .calendar-header {
        padding: 0;
    }
}
