.dialog-title {
	&__content {
		height: 64px;
		width: 600px;
		box-sizing: border-box;
		padding: 16px 24px;
		line-height: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.icon-close {
		margin-left: 16px;
	}

	h3 {
		margin: 0;
	}

	&.--close-button {
		.dialog-title__content {
			padding: 16px 16px 16px 24px;
		}
	}
}

.dialog-form {
	&__row {
		display: flex;

		& > * + * {
			margin-left: 8px !important;
		}
	}
}

.clusters-dialog {
    .dialog-title {
		width: unset;
	}
}

.stepper-actions {
	& > * + * {
		margin-left: 8px !important;
	}
}

.button-container {
	position: relative;
	display: inline-block;

	.button-progress {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -12px;
		margin-left: -12px;
	}
}

.chips_container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 8px;

	& > * {
		margin: 4px;
	}
}