.login {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;

	&__about {
		background: url(https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		color: rgba(255,255,255,0.87);
		padding: 128px 64px;
		text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
			 0px 18px 23px rgba(0,0,0,0.1);
		text-align: center;
	}

	&__credentials {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		background: #F1F1F1;

		.login_form {
			width: 320px;
			height: 460px;
			padding: 16px;
			border-radius: 4px;
			background: #FFF;
			box-shadow: $box-shadow;
		}
	}
}