.flexbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &:not(.--disable-spacing) {
        & > * + * {
            margin-left: spacing(1) !important;
        }
    }

    &.--padding {
        padding: spacing(1) spacing(2);
    }
}
