.layout {
    display: flex;
    flex-flow: column nowrap;

    &.--vertical {
        flex-flow: row nowrap
    }

    & > * {
        position: relative;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        border-radius: 0 !important;
    }

    &__content {
        flex: 1;
    }
}
