.login {
	background: $primary;
	width: 100%;
	height: 100vh;
	color: rgba(255, 255, 255, 0.87);
	display: grid;
	grid-template-columns: 2fr 1fr;

	.ft-logo {
		height: 48px;
		width: 48px;
	}

	.logos-container {
		height: 48px;
		margin: 0 auto 32px;
		display: flex;
		align-items: center;
		justify-content: center;

		.cross {
			font-size: 32px;
			line-height: 16px;
			display: inline-table;
			margin: 0 8px;
			font-weight: 400;
			color: #DDD;
		}
	}

	&__container {
		width: 500px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		h2 {
			margin: 0 0 16px 0;
		}

		.school_logo {
			display: flex;
			flex-flow: row;
			align-items: center;
			justify-content: center;
			line-height: 24px;

			img {
				margin-right: 8px;
				height: 48px;
			}
			
			h3 {
				font-weight: 500;
				margin: 0;
			}
		}

		.subtitle_link {
			margin: 0 0 16px 0;
			color: rgba(225,225,225,0.86);
			font-weight: 700;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__paper {
		width: 400px;
		margin: 32px auto 16px;
		display: flex;
		flex-flow: row nowrap;
	}

	&__form {
		width: 400px;
		box-sizing: content;
		padding: 32px;
	}

	&__links {
		width: 400px;
		list-style: none;
		margin: 0 auto;
		padding: 0 8px;
		display: flex;
		justify-content: flex-end;

		li {
			margin: 0 0 0 16px;
			font-weight: 500;
		}
	}

	.login__heading {
		text-align: center;
		margin-bottom: 8px;
	}

	.carousel img {
		height: 100%;
	}
}

.auth-username {
	&__inner {
		display: flex;
		align-items: center;
		text-transform: inherit;

		& > * + * {
			margin-left: 8px;
		}
	}

	&.button-select {
		display: flex;
		padding: 6px 8px !important;
		text-align: center;
		margin: 0 auto;
	}

	.avatar {
		margin-right: 6px;
	}
}
