.expansion-panel {
    &__summary {
        display: flex;
        align-items: center;
    }

    &__heading {
        flex-basis: 30%;
    }

    &__subheading {
        color: #777;
    }

    &__details {
        display: block !important; // Override material `display: flex`
        max-height: 250px;
        overflow: auto;
    }

    &__chips {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
        
        & > * {
            margin: 4px;
        }
    }
}