.site-wrap {
	display: flex;

	&.--menu_open .sidebar {
		width: 320px;
	}
}

.splash {
	position: relative;
	//z-index: 100;
	//left: 0;
	//top: 0;
	//width: 100vw;
	//height: 100vh;
	// pointer-events: none;

	&__inner {
		position: fixed;
		background: #F1F1F1;
		z-index: 110;
		width: 100vw;
		height: 100vh;
		// pointer-events: all;
	}
		
	&__content {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}	
}

.--flex-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	& > * + * {
		margin-left: 8px !important;
	}
}