.dialog-title {
	&__content {
		height: 64px;
		width: 600px;
		box-sizing: border-box;
		padding: 16px 24px;
		line-height: 64px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.icon-close {
		margin-left: 16px;
	}

	h3 {
		margin: 0;
	}

	&.--close-button {
		.dialog-title__content {
			padding: 16px 16px 16px 24px;
		}
	}
}

.dialog-form {
	&__row {
		display: flex;

		& > * + * {
			margin-left: 8px !important;
		}
	}
}

.clusters-dialog {
    .dialog-title {
		width: unset;
	}
}

.stepper-actions {
	& > * + * {
		margin-left: 8px !important;
	}
}

.button-container {
	position: relative;
	display: inline-block;

	.button-progress {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -12px;
		margin-left: -12px;
	}
}

.menu-item-container {
	position: relative;
	display: block;
	padding-left: 0;
	transition: padding 0.2s;

	&.--loading {
		padding-left: 32px;
	}

	.menu-item-progress {
		position: absolute;
		top: 50%;
		left: 28px;
		margin-top: -12px;
		margin-left: -12px;
	}
}

.chips_container {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	margin-bottom: 8px;

	& > * {
		margin: 4px;
	}
}

.change_password_card {
	text-align: left;
	max-width: 600px;
}

.chip-textfield {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	padding: 4px;

	& > * {
		margin: 4px;
	}

	&__actions {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		flex: 1;
		margin: 0;
		padding-left: 8px;
		min-width: 320px;

		& > * + * {
			margin-left: 4px !important;
		}
	}

	&__input {
		min-width: 64px;
		width: 100%;
	}

	&__divider {
		height: 24px !important;
	}
}

.check-in_error_header {
	font-size: 16px;
}

.check-in_error {
	font-weight: 500;
	color: #888;
	font-family: monospace;
}

.password_confirm_dialog_list {
	padding-left: 32px;
    list-style: initial;
    margin-bottom: 8px;
}

.info_tooltip {
	display: flex;
	flex-flow: row wrap;
	align-items: center;

	& > * + * {
		margin: 0 8px;
	}

	span {
		color: rgba(0,0,0,0.3);
	}
}
