.colors_dialog .color__swatch,
.topics_dialog .color_swatch,
.nav_avatar,
.student_avatar,
.profile_avatar,
.chip_avatar,
.login_avatar {
    &.--red {
        background: $red;
    }

    &.--pink {
        background: $pink;
    }

    &.--purple {
        background: $purple;
    }

    &.--deep-purple {
        background: $deep-purple;
    }

    &.--indigo {
        background: $indigo;
    }

    &.--blue {
        background: $blue;
    }

    &.--light-blue {
        background: $light-blue;
    }

    &.--cyan {
        background: $cyan;
    }

    &.--teal {
        background: $teal;
    }

    &.--green {
        background: $green;
    }

    &.--light-green {
        background: $light-green;
    }

    &.--lime {
        background: $lime;
    }

    &.--yellow {
        background: $yellow;
    }

    &.--amber {
        background: $amber;
    }

    &.--orange {
        background: $orange;
    }

    &.--deep-orange {
        background: $deep-orange;
    }

    &.--brown {
        background: $brown;
    }

    &.--blue-grey {
        background: $blue-grey;
    }

    &.--black {
        background: $black;
    }
}

.chip_avatar {
    color: $on-primary !important;
}
