$primary: rgb(3, 70, 112);
$primary-light: rgba(3, 70, 112, 0.12);
$primary-semi-light: rgba(3, 70, 112,0.54);

$on-primary: rgba(255, 255, 255, 0.87);

$elevation1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$elevation2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

$login-max-height: 768px;
$login-max-width: 1366px;

$star-color: rgba(255,214,0 ,1);
$success: rgba(76,175,80 ,1);
$failure: rgba(244,67,54 ,1);
$warning: rgba(255,152,0 ,1);

// App Colors

