$primary: rgb(3, 70, 112);
$primary-light: rgba(3, 70, 112, 0.12);
$primary-semi-light: rgba(3, 70, 112,0.54);
$primary-white: rgb(227, 233, 238);

$secondary: rgb(67, 224, 255);
$secondary-light: rgba(67, 224, 255, 0.12);
$secondary-semi-light: rgba(67, 224, 255, 0.54);

$on-primary: rgba(255, 255, 255, 0.87);

$elevation1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$elevation2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

$star-color: rgba(255,214,0 ,1);
$success: rgba(76,175,80 ,1);
$failure: rgba(244,67,54 ,1);
$warning: rgba(255,152,0 ,1);

// App Colors
$red: rgb(198,40,40);
$pink: rgb(173,20,87);
$purple: rgb(106,27,154);
$deep-purple: rgb(69,39,160);
$indigo: rgb(40,53,147);
$blue: rgb(21,101,192);
$light-blue: rgb(2,119,189);
$cyan: rgb(0,131,143);
$teal: rgb(0,105,92);
$green: rgb(46,125,50);
$light-green: rgb(85,139,47);
$lime: rgb(158,157,36);
$yellow: rgb(249,168,37);
$amber: rgb(255,143,0);
$orange: rgb(239,108,0);
$deep-orange: rgb(216,67,21);
$brown: rgb(78,52,46);
$blue-grey: rgb(55,71,79);
$black: rgb(0,0,0);
$on-color: rgba(255,255,255,1);
