.search-bar {
    flex: 1;
    color: inherit;
    border-radius: 8px;

    color: inherit !important;
    background: rgba(0, 0, 0, 0.20);

    &__entry {
        box-sizing: border-box;
        height: 40px;
        // flex: 1;
        width: spacing(45);

        padding: spacing(1);
    }

    &__input {
        width: 100%;
        flex: 1;
    }

    &__input,
    button {
        color: inherit !important;
    }

    &.--open {
        color: unset;
        background: unset;
    }

    &.--on-primary {
        background: rgba(255, 255, 255, 0.20);
    }
}
