.empty-state-icon {
	width: 100%;
	margin: 40px 0 0;
	text-align: center;

	&__image {
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		width: 120px;
		height: 120px;
		margin: 0 auto 16px;
	}

	h3 {
		font-weight: 500;
	}
}