.notifications_modal {
	&__content {
		.content-inner {
			margin-left: 32px;
		}
	}

	&__actions {
		text-align: right;
		margin-bottom: 8px;

		> * {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&__textfield {
		margin: 16px 0;
	}

	.sidebar_modal__header {
		justify-content: space-between;

		& > div:first-child {
			display: flex;
			align-items: center;
		}
	}

	.notification {
		.icon {
			margin-right: 8px;
		}

		&__info {
			width: 100%;
			display: grid;
			font-weight: 700;

			.header {
				margin: 0;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				.unread-badge {
					background: $primary;
					display: inline-block;
					width: 6px;
					border-radius: 50%;
					height: 6px;
					margin: 2px 8px 2px 0;
				}
			}

			.time {
				font-weight: 400;
			}
		}

		&.--read {
			.notification__info {
				font-weight: 500;
			}
		}
	}
}