.about-spotlight {
    text-align: center;

    &__logo {
        width: 450px;
        height: 64px;
        background-image: url("/static/images/ft-logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        margin-bottom: 16px;
    }

    &__name {
        margin: 8px 0 !important;
    }

    &__version {
        font-weight: 400;
        span {
            font-weight: 500;
        }
    }
}
