.calendar_container {
	.calendar_header {
		display: flex;
		align-items: center;

		li {
			margin-right: 8px;
		}
	}

	.calendar {
		width: 100%;
		padding: 16px 0 0 0;
		display: flex;
		flex-flow: row wrap;

		.calendar_row {
			width: 100%;
			display: flex;

			.event,
			.block {
				margin: 0 0 16px 8px !important;
				font-family: unset;

				&__badge {
					display: block;
				}
				
				&__inner {
					background: #EEE;
					color: rgba(0,0,0,0.87);
					font-family: unset;

					&.--red {
						background: $red;
						color: $on-color;
					}
				
					&.--pink {
						background: $pink;
						color: $on-color;
					}
				
					&.--purple {
						background: $purple;
						color: $on-color;
					}
				
					&.--deep-purple {
						background: $deep-purple;
						color: $on-color;
					}
				
					&.--indigo {
						background: $indigo;
						color: $on-color;
					}
				
					&.--blue {
						background: $blue;
						color: $on-color;
					}
				
					&.--light-blue {
						background: $light-blue;
						color: $on-color;
					}
				
					&.--cyan {
						background: $cyan;
						color: $on-color;
					}
				
					&.--teal {
						background: $teal;
						color: $on-color;
					}
				
					&.--green {
						background: $green;
						color: $on-color;
					}
				
					&.--light-green {
						background: $light-green;
						color: $on-color;
					}
				
					&.--lime {
						background: $lime;
						color: $on-color;
					}
				
					&.--yellow {
						background: $yellow;
						color: $on-color;
					}
				
					&.--amber {
						background: $amber;
						color: $on-color;
					}
				
					&.--orange {
						background: $orange;
						color: $on-color;
					}
				
					&.--deep-orange {
						background: $deep-orange;
						color: $on-color;
					}
				
					&.--brown {
						background: $brown;
						color: $on-color;
					}
				
					&.--blue-grey {
						background: $blue-grey;
						color: $on-color;
					}
				}

				&__content {
					font-size: 12px;
					padding: 16px 12px;
					min-height: 96px;
				}

				&__label {
					font-size: 10px;
					font-weight: 500;
					margin-bottom: 4px;
					text-transform: uppercase;
					letter-spacing: 0.025rem;
				}

				&__title {
					font-weight: 500;
					line-height: 14px;
					margin-bottom: 4px;
				}

				&__memo {
					line-height: 14px;
					font-weight: 400;
					margin: 0;
				}
			}

			.label {
				width: 100%;
				color: inherit;
				padding: 8px 16px;
				text-align: center;

				.day {
					text-transform: uppercase;
					margin: 0 0 4px 0;
					font-weight: 500;
				}

				.date {
					display: inline-block;
					margin: 0;
					width: 32px;
					height: 32px;
					line-height: 32px;
					padding: 8px;
					border-radius: 50%;
					background: none;
					font-weight: 400;
					font-weight: 400;
				}

				&.--today {
					color: $primary;

					.date {
						background: $primary;
						color: rgba(255,255,255,0.87);
					}
				}
			}

			.calendar_events {
				width: 100%;
				padding: 8px 0 0 0;
				border-right: 1px solid #EEE;
				border-bottom: 1px solid #EEE;
				display: flex;
				flex-flow: column-reverse;

				&:last-child {
					border-right: none;
				}
			}

			.calendar_blocks {
				width: 100%;
				padding: 8px 16px 16px 0;
				border-right: 1px solid #EEE;

				&:last-child {
					border-right: none;
				}

				.block__inner {		
					&.--missed {
						background: $failure;
						color: rgba(255,255,255,0.87)
					}
		
					&.--attended {
						background: $success;
						color: rgba(255,255,255,0.87);
					}
		
					&.--void {
						background: #CCC;
						color: rgba(75,75,75,0.87);
					}
		
					&.--appointed {
						background: $warning;
						color: rgba(255,255,255,0.87);
					}
		
					&.--now {
						border: 3px solid $primary-semi-light;
						border-radius: 4px;
					}
				}
			}
		}
	}
}

.calendar-block-dialog {
	&__title {
		width: 600px;
		.dialog-title__content {
			height: 86px;
			width: unset;
		}

		.dialog-title__inner {
			line-height: 16px;

			.label {
				text-transform: uppercase;
				letter-spacing: 0.025px;

				span {
					text-transform: unset;
					font-weight: 400;
					padding-left: 8px;
					margin-left: 8px;
					border-left: 2px solid #888;
				}
			}

			.date {
				font-weight: 400;
			}
		}
	}

	.section-header {
		color: rgba(0,0,0,0.87);
		text-transform: uppercase;
		margin: 0 0 12px 0;
	}

	.section {
		padding-left: 16px;
		margin-bottom: 16px;
	}

	.empty_text {
		font-style: italic;
	}
}

.calendar_item {
	display: flex;
	flex-flow: row;
	line-height: 24px;
	justify-content: space-between;
	padding: 8px 16px;
	position: relative;
	box-shadow: $elevation1;
	border-radius: 4px;

	&__container {
		& + .calendar_item__container,
		& + * .calendar_item__container {
			margin-top: 8px;
		}
	}

	&__title {
		display: flex;
		font-size: unset;
		font-weight: 500;
		margin: 0;
		
		& > span {
			display: flex;
			align-items: center;
			margin-left: 8px;
			padding-left: 8px;
			border-left: 1px solid #888;
			color: #888;
			font-weight: 400;

			.icon {
				margin-left: 8px;
				cursor: pointer;
			}
		}
	}

	&__memo {
		margin: 0;
	}

	&__actions {
		margin-left: 16px;
		display: flex;
		flex-flow: row;
		align-items: center;
	}

	&::after {
		background: #EEE;
		content: '';
		width: 8px;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 4px 0 0 4px;
	}

	&.--selectable {
		cursor: pointer;
		user-select: none;
	}

	&.--success::after {
		background: $success;
	}

	&.--fail::after {
		background: $failure;
	}

	&.--red::after {
		background: $red;
	}

	&.--pink::after {
		background: $pink;
	}

	&.--purple::after {
		background: $purple;
	}

	&.--deep-purple::after {
		background: $deep-purple;
	}

	&.--indigo::after {
		background: $indigo;
	}

	&.--blue::after {
		background: $blue;
	}

	&.--light-blue::after {
		background: $light-blue;
	}

	&.--cyan::after {
		background: $cyan;
	}

	&.--teal::after {
		background: $teal;
	}

	&.--green::after {
		background: $green;
	}

	&.--light-green::after {
		background: $light-green;
	}

	&.--lime::after {
		background: $lime;
	}

	&.--yellow::after {
		background: $yellow;
	}

	&.--amber::after {
		background: $amber;
	}

	&.--orange::after {
		background: $orange;
	}

	&.--deep-orange::after {
		background: $deep-orange;
	}

	&.--brown::after {
		background: $brown;
	}

	&.--blue-grey::after {
		background: $blue-grey;
	}
}
