
.chip_select {
    &__textfield {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
		align-items: center;
		height: 48px;
        padding: 4px;

        & > * {
            margin: 4px;
        }
    }

	&__actions {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		flex: 1;
		margin: 0;
		padding-left: 8px;
		min-width: 320px;

		& > * + * {
			margin-left: 4px !important;
		}
	}

	&__input {
		min-width: 64px;
		margin-right: 32px;
		width: 100%;
	}

	&__divider {
		height: 24px !important;
    }
	
	&__loading {
		padding: 8px;
	}

    &__popper {
		z-index: 2;

		ul {
			max-height: 240px;
			overflow-x: auto;
		}

        .no_results {
            padding: 4px 16px;
		}
		
		.chip_avatar {
			width: 24px;
			height: 24px;
			font-size: 12px;
			margin-right: 8px;
		}
	}

	.chips_container {
		margin-top: 8px;
		padding-bottom: 8px;
	}
}
