.date_widget {
    padding: 8px 16px;
    height: 248px;
    box-sizing: content-box;
    display: flex;
    flex-flow: row nowrap;

    & > * {
        flex: 1;
    }

    & > div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }

    .divider {
        flex: unset;
        margin-left: 16px;
    }

    &__absolute_range {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        & > * + * {
            margin-left: 8px;
        }
    }

    &__predefined_ranges {
        padding: 0;
        height: 224px;
        line-height: 24px;
        display: flex;
        flex-flow: column wrap;

        li {
            display: block;
        }

        .predefined_range {
            font-weight: 500;
            color: $primary;

            &:hover {
                cursor: pointer;
            }
        }
    }

    & > * + * {
        margin-left: 16px;
    }
}
