.enhanced-table {
    margin: 16px 0;

    .empty-state {
        padding: 64px;
        border-radius: 4px;
        border: 2px dotted #222;
    }

    &__link {
        cursor: pointer;
    }

    &__toolbar {
        width: 100%;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: space-between;

        h3 {
            margin: 0;

            &.num-selected {
                font-weight: 400;
            }
        }

        .enhanced-table__tools {
            display: flex;
            flex-flow: row;
            align-items: center;
        }
    }

    .enhanced-table__filters {
        width: 400px;
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 16px;
        background: #FFF;
        border-radius: 2px;
        z-index: 100;

        .placeholder {
            margin: 16px;
            text-align: center;
        }

        .filters-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;

            h3 {
                margin: 0;
            }

            .filter-actions {
                display: flex;
                flex-flow: row;

                .filter-action {
                    margin-left: 8px;

                    &:last-child {
                        margin-left: 0;
                    }
                }
            }
        }

        .filter-rule {
            display: flex;
            align-items: baseline;
            margin-bottom: 8px;

            & > * {
                margin-left: 8px;

                &:first-child {
                    margin-left: 0;
                }
            }

            &:last-child {
                margin-bottom: 16px;
            } 
        }
    }
}